@model Postulate.Orm.Merge.SchemaMerge<DemoDb>

@{
    ViewBag.Title = "Schema Merge";
}

<h2>Schema Merge</h2>

<p class="text-danger">@TempData["error"]</p>
<p class="success">@TempData["success"]</p>

@if (!Model.AllActions.Any())
{
    <p>There are no pending changes to apply.</p>
    return;
}

<ul>
    @foreach (var action in Model.AllActions)
    {
        <li>
            <p class="text-info">@action.ActionType @action.ObjectType @action.ToString()</p>
            @foreach (var err in Model.AllValidationErrors[action])
            {
                <p class="text-danger">@err</p>
            }
            <ul>
                @foreach (var cmd in Model.AllCommands[action])
                {
                    <li>
                        <pre>@cmd</pre>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@using (Html.BeginForm())
{
    <input type="submit" value="Execute" />
}
