@model Customer

<p class="error">@TempData["error"]</p>

@using (Html.BeginForm("Save", "Customer"))
{
    @Html.Hidden("Id", Model.Id)
    @Html.ActionNameField()

    <div>
        <label>
            First Name:
            @Html.TextBoxFor(model => model.FirstName)
        </label>
    </div>

    <div>
        <label>
            Last Name:
            @Html.TextBoxFor(model => model.LastName)
        </label>
    </div>

    <div>
        <label>
            Address:
            @Html.TextBoxFor(model => model.Address)
        </label>
    </div>

    <div>
        <label>
            Customer Type:
            @Html.DropDownList("TypeId", ViewData["CustomerTypeList"] as SelectList, "(select)", new { required = "required" })
        </label>
    </div>

    <div>
        <label>
            Region:
            @Html.DropDownList("RegionId", ViewData["RegionList"] as SelectList, "(select)", new { required = "required" })
        </label>
    </div>

    <input type="submit" value="Save"/>
}
