@model IEnumerable<Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">Type:</label>
            @Html.DropDownList("TypeId", ViewData["CustomerTypeSelect"] as SelectList, "(all)", new { onchange = "this.form.submit();", @class = "form-control" })
        </div>

        <div class="col-sm-6">
            <label class="control-label">Region:</label>
            @Html.DropDownList("RegionId", ViewData["RegionSelect.RegionId"] as SelectList, "(all)", new { onchange = "this.form.submit();", @class = "form-control" })
        </div>
    </div>
}

@Html.Partial("_List", Model)

@Html.Partial("~/Views/Shared/_Paging.cshtml", Html.CurrentPage())

<p><a href="@Url.Action("Create")">Create</a></p>

