@model IEnumerable<ViewCustomer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Address</th>
        <th>Region</th>
        <th>Type</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.Address</td>
            <td>@item.RegionName</td>
            <td>@item.CustomerTypeName</td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })">edit</a> |
                <a href="@Url.Action("Delete", new { id = item.Id })">delete</a>
            </td>
        </tr>
    }
</table>

<p><a href="@Url.Action("Create")">Create</a></p>

